@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-primary: #ffffff;
  --color-secondary: #000000;

  --font-inter: 'Inter', sans-serif;
  --default-font-family: var(--font-inter);
}

@keyframes draw {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}



/* Apply globally */
body {
font-family: var(--default-font-family);

}
/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            
}